#show{
    visibility: hidden;
    position: absolute;
    transition: visibility .2s;

}
#btn:hover + #show,
#show:hover{
    visibility: visible;
}
.menulist{
    display: none;
    position: absolute;
    border: 1px solid red;
    background-color: #fff;
}
.msgc:hover .menulsit, .menulist:hover{
    display: block;
}